
<ngx-datatable [rowHeight]="50"
               [limit]="10"
               [rows]="ordersShowing"
               class="order-table">

  <ngx-datatable-column name="Order" [width]="200">
    <ng-template let-row="row"
                 ngx-datatable-cell-template>
      <span>{{ row.order_id }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Driver Phone" [width]="200">
    <ng-template let-row="row"
                 ngx-datatable-cell-template>
      <span>{{ row.driver_phone }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Passenger Phone" [width]="200">
    <ng-template let-row="row"
                 ngx-datatable-cell-template>
      <span>{{ row.pass_phone }}</span>
    </ng-template>

  </ngx-datatable-column>

  <ngx-datatable-column name="Rating" [width]="200">
    <ng-template let-row="row"
                 ngx-datatable-cell-template>
      <span class="row-element">
        <i *ngFor="let star of Arr(row.rating).fill(1)"
           class="material-icons star-active">star</i>
        <i *ngFor="let star of Arr(maxRating - row.rating).fill(1)"
           class="material-icons star-passive">star</i>
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" [width]="200">
    <ng-template let-row="row"
                 ngx-datatable-cell-template>
      <span class="row-element">
        <span class="btn btn-close"
              (click)="closeOrder(row.order_id)">Close</span>
        <a class="btn btn-edit"
           [routerLink]="['/'+row.order_id]">
          <span>Show details</span>
        </a>
      </span>
   </ng-template>

 </ngx-datatable-column>

</ngx-datatable>
