<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Driver Phone</th>
      <th scope="col">Passenger Phone</th>
      <th scope="col">Rating</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of ordersShowing">
      <th>{{order.order_id}}</th>
      <td>{{order.driver_phone}}</td>
      <td>{{order.pass_phone}}</td>
      <td>
        <i *ngFor="let star of Arr(order.rating).fill(1)"
        class="material-icons star-active">star</i>
        <i *ngFor="let star of Arr(maxRating - order.rating).fill(1)"
        class="material-icons star-passive">star</i>
      </td>
      <td>
        <a class="btn btn-success mr-1"
           [routerLink]="['/'+order.order_id]">Edit</a>
        <button type="button" class="btn btn-danger"
                (click)="closeOrder(order.order_id)">Close</button>
        </td>
    </tr>
  </tbody>
</table>

