<div class="order-wrap">

  <form class="order" (ngSubmit)="handleSubmit()">

    <ul class="list-group">
      <li class="list-group-item">
        <span class="float-left">ID</span>
        <span class="float-right">{{order.order_id}}</span>
      </li>
      <li class="list-group-item">
        <span class="float-left">Driver Phone</span>
        <span class="float-right">{{order.driver_phone}}</span>
      </li>
      <li class="list-group-item">
        <span class="float-left">Passenger Phone</span>
        <span class="float-right">{{order.pass_phone}}</span>
      </li>
    </ul>

    <div class="form-group">
      <label for="rating">Rating</label>
      <select class="form-control" id="rating"
              name="star"
              #ratingElem
              (change)="setRating(ratingElem.value)">
        <option *ngFor="let rating of ratingStars" ngValue="rating" [selected]="order.rating === rating">{{rating}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>
